@import "tailwindcss";

@font-face {
  font-family: 'Syne-Bold';
  src: url('/Fonts/TTF/Syne-Bold.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

.input {
  @apply w-full rounded-lg border border-gray-300 px-4 py-2 shadow-sm focus:outline-none focus:ring-2 focus:ring-[#001A78];
}

.hero-cta {
  background: white;
  color: #001049;
  font-family: inherit;
  padding: 0.35em;
  padding-left: 1.2em;
  font-size: 25px;
  font-weight: 400;
  border-radius: 0.9em;
  border: none;
  letter-spacing: 0.03em;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  height: 2.5em;
  padding-right: 3.6em;
  cursor: pointer;
  text-decoration: none;
  white-space: nowrap;
}

.hero-cta .icon {
  background: #FFCA3A;
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.1em;
  width: 2.7em;
  border-radius: 0.7em;
  right: 0.3em;
  transition: all 0.3s;
}

.hero-cta:hover .icon {
  width: calc(100% - 0.6em);
}

.hero-cta .icon svg {
  width: 1.1em;
  transition: transform 0.3s;
  color: #001049;
}

.hero-cta:hover .icon svg {
  transform: translateX(0.1em);
}

.hero-cta:active .icon {
  transform: scale(0.95);
}
